{% extends "users/base.html"%} 
{% block head_content %}
    <title>StalkerGram - Sign in</title>
{% endblock%} 
{% block container%}
{% if error %}
<p class="alert alert-danger">{{ error }}</p>
{% endif %}
    <form action="{% url "users:login" %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" placeholder="Username" name="username" class="form-control">
        </div>
        <div class="form-group">
                <input type="password" placeholder="Password" name="password" class="form-control">
        </div>
        <button class="btn-primary btn-block mt-5" type="submit">SignIn !</button>
    </form>
    <p class="mt-4">Don't have and account yet?<a href="{% url "users:signup" %}">Sign Up here</a> </p>
{% endblock %}
